body {
    margin: 0;
}

.text {
    margin: 0;
    /* padding-top: 40vh; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3rem;
}

/* .text.texts {
    padding-top: 2px;
} */

.text:nth-child(2) {
    font-size: 1.3rem;
    padding-top: 10px;
    padding-bottom: 20px;
}

.main {
    background-repeat: no-repeat;
    background-image: url("https://images.unsplash.com/photo-1488972685288-c3fd157d7c7a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80");
    height: 100vh;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-navigation {
    display: flex;
    list-style: none;
}

.main-navigation_item {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-left: 5px;
}

.main-navigation_item a {
    color: #000;
    opacity: 0.6;
    text-decoration: none;
}

.main-navigation_item a:hover {
    color: #000;
    opacity: 1;
}

.main-button {
    background: #fff;
    border: 1px solid #000;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    cursor: pointer;
}

.main-button:hover {
    background-color: #000;
    color: #fff;
}

.main-button-inverted {
    background-color: transparent;
    color: #fff;
    border-color: #fff;
}

.main-button-inverted:hover {
    background-color: #fff;
    color: #000;
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.flex-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.flex-item {
    display: block;
    background-color: blueviolet;
    width: 200px;
    height: 200px;
    margin: 20px;
}

.main-selection-header {
    margin: 0 50px;
    text-align: center;
    text-transform: uppercase;
}

.about-section {

    display: flex;
    justify-content: space-between;
}

.about-img {
    width: 400px;
    height: 500px;
    border-radius: 15px;
}